main>form{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-rows: 2fr 3fr 3fr;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    padding: 5px;
    background-color: var(--theme-color-5);
    border-radius: 5px;
}

main>form>input[type="radio"]{
    appearance: none;
    display: none;
}

main>form>label{
    text-align: center;
    background-color: var(--theme-color-1);
    border-radius: 5px;
    padding: 5px;
}

main>form>label:hover{
    background-color: var(--theme-color-2);
    color: var(--text-color-2);
}

input[type="radio"]:checked+label{
    background-color: var(--theme-color-3);
}

#admin_radio_label{
    grid-column: 1 / span 2;
}

#lecturer_radio_label{
    grid-column: 3 / span 2;
}

#student_radio_label{
    grid-column: 5 / span 2;
}

#admin_username, #lecturer_username, #student_username{
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
    z-index: -1;
    opacity: 0;
}

#admin_password, #lecturer_password{
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
    z-index: -1;
    opacity: 0;
}

input, #login_button{
    font-size: medium;
}

#login_button{
    grid-column: 5 / span 2;
    grid-row: 3 / span 1;
}

#admin_radio:checked~#admin_username, #admin_radio:checked~#admin_password{
    z-index: 1;
    opacity: 1;
}

#lecturer_radio:checked~#lecturer_username, #lecturer_radio:checked~#lecturer_password{
    z-index: 1;
    opacity: 1;
}

#student_radio:checked~#student_username, #student_radio:checked~#student_password{
    z-index: 1;
    opacity: 1;
}

#background_animation{
    position: fixed;
    right: 0;
    bottom: 50px;
}