/*
global variables
*/
:root{
    --leftbar_width: 200px;
    --rightbar_width: 350px;
}


/*
main
*/
main{
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: var(--leftbar_width) auto;
}


/*
leftbar
*/
#leftbar{
    display: grid;
    grid-template-rows: repeat(2, calc((100vh - var(--header_height) - var(--footer_height)) / 2));
    grid-template-columns: 1fr;
    background-color: var(--theme-color-4);
    gap: 5px;
    padding: 5px;
}

#leftbar>div{
    width: 100%;
    background-color: var(--theme-color-5);
    border-radius: 5px;
}

#leftbar>div>div{
    text-align: center;
    background-color: var(--theme-color-1);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    word-wrap: break-word;
}

#leftbar>div>div:hover{
    background-color: var(--theme-color-2);
    color: var(--text-color-2);
    border-color: var(--theme-color-4);
    cursor: pointer;
}


/*
calendar
*/
#calendar{
    width: calc(100vw - var(--leftbar_width));
    transition: width 0.3s;
    background-color: var(--theme-color-4);
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
}

#calendar_content{
    display: grid;
    grid-template-rows: auto repeat(6, 1fr);
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding: 5px;
}

#calendar_content>.calendar_day{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    gap: 5px;
    padding: 5px;
    background-color: var(--theme-color-3);
    border-radius: 5px;
    overflow: hidden;
}

#calendar_content>.calendar_day[aria-disabled="true"]{
    opacity: 0.5;
}

#calendar_content>.calendar_day[aria-disabled="false"]:hover{
    filter: brightness(80%);
}

#calendar_content>.week_label{
    background-color: var(--theme-color-5);
    text-align: center;
    padding: 5px;
}

#calendar_content>.calendar_day>.calendar_day_numer{
    padding-left: 3px;
    padding-right: 3px;
}

#calendar_content>.calendar_day>.calendar_day_appointments>div{
    border-radius: 5px;
    margin: 2px;
    border: solid 2px #00000000;
    background-color: var(--theme-color-1);
}

#calendar_content>.calendar_day>.calendar_day_appointments>div[aria-status="pending"]{
    background-color: var(--theme-color-2);
    border: dashed 2px #00000000;
}

#calendar_content>.calendar_day>.calendar_day_appointments>div:hover{
    color: var(--text-color-2);
    border-color: var(--theme-color-4);
    cursor: pointer;
}


/*
calendar toolbar
*/
#calendar_toolbar{
    display: grid;
    grid-template-columns: auto 1fr;
}

#calendar_toolbar>form{
    margin: 5px;
}

#calendar_toolbar>form>*{
    display: inline;
}

#calendar_toolbar>h2{
    margin: auto;
}


/*
rightbar
*/
#rightbar{
    position: absolute;
    display: grid;
    grid-template-rows: auto 1fr;
    right: 0;
    width: var(--rightbar_width);
    height: calc(100vh - var(--header_height) - var(--footer_height));
    transform: translateX(100%);
    transition: transform 0.3s;
    background-color: var(--theme-color-3);
}


/*
rightbar animation
*/
#rightbar_checkbox{
    display: none;
}

#rightbar_checkbox:checked~main>#calendar{
    width: calc(100vw - var(--leftbar_width) - var(--rightbar_width));
}

#rightbar_checkbox:checked~main>#rightbar{
    transform: translateX(0%);
}


/*
rightbar top
*/
#rightbar_top{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
}

#rightbar_top>label{
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
    background-color: var(--theme-color-5);
}

#rightbar_top>label:hover{
    filter: brightness(80%);
    color: var(--text-color-2);
}

#rightbar_top>#rightbar_date{
    background-color: var(--theme-color-2);
    width: 100%;
    margin: 0 auto 0 auto;
    text-align: center;
}


/*
rightbar content
*/
#rightbar_day{
    display: grid;
    grid-template-rows: 1fr auto;
}

#rightbar_day_content{
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-rows: 1fr;
    background-color: var(--theme-color-3);
}

#rightbar_day_labels{
    display: grid;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    grid-template-rows: repeat(9, 1fr);
}

#rightbar_day_labels>div{
    background-color: var(--theme-color-5);
}

#rightbar_day_labels div:nth-child(2n){
    filter: brightness(150%);
}

#rightbar_day_appointments{
    display: grid;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: 1fr;
}

#rightbar_day_appointments>div{
    border-radius: 5px;
    margin: 2px;
    border: solid 2px #00000000;
    background-color: var(--theme-color-1);
    z-index: 1;
    animation: appear 1s;
}

@keyframes appear{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#rightbar_day_appointments>div[aria-status="pending"]{
    background-color: var(--theme-color-2);
    border: dashed 2px #00000000;
}

#rightbar_day_appointments>div:hover{
    color: var(--text-color-2);
    border-color: var(--theme-color-4);
    cursor: pointer;
}


/*
popup
*/
#popup{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    background-color: var(--theme-color-5);
    border-radius: 5px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 5px;
    transition: opacity 0.5s, z-index 1s;
    overflow: hidden;
}

#popup_close{
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
}

#popup_close:hover{
    background-color: var(--theme-color-2);
}

#popup_checkbox{
    display: none;
}

#popup>input[type="radio"]{
    display: none;
}

#popup_checkbox:checked~main>#popup{
    opacity: 1;
    z-index: 1;
}

#popup_appointment_status_accepted, #popup_appointment_status_declined{
    opacity: 0;
    height: 0;
    transition: height 0.5s, opacity 0.5s;
}

#popup_radio_appointment_status_accepted:checked~#popup_appointment_status_accepted{
    opacity: 1;
    height: 61px;
    z-index: 1;
}

#popup_radio_appointment_status_declined:checked~#popup_appointment_status_declined{
    opacity: 1;
    height: 61px;
    z-index: 1;
}

#popup_radio_appointment_status_accepted:checked~#popup_appointment_options, #popup_radio_appointment_status_declined:checked~#popup_appointment_options{
    opacity: 0;
    height: 0;
    z-index: -1;
    padding: 0;
}

#popup_appointment_options{
    align-self: right;
    justify-self: right;
    overflow: hidden;
    padding: 5px 0 5px 0;
    transition: opacity 1s, height 1s, padding 1s;
}

#popup>form{
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    padding: 0 5px 0 5px;
    z-index: -1;
}

#popup>form>textarea{
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    width: 30vw;
    resize: none;
}

#popup>form>label{
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

#popup>form>button{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

#popup>div>label, #popup>form>label, #popup>form>button{
    text-align: center;
    background-color: var(--theme-color-1);
    border-radius: 5px;
    padding: 5px;
    word-wrap: break-word;
}

#popup>div>label:hover, #popup>form>label:hover, #popup>form>button:hover{
    color: var(--text-color-2);
    border-color: var(--theme-color-4);
    cursor: pointer;
}
