button, a{
    background-color: var(--theme-color-1);
    border: none;
    border-radius: 5px;
    color: var(--text-color-1);
    padding: 1px 3px 1px 3px;
}

button:hover, a:hover{
    background-color: var(--theme-color-2);
    color: var(--text-color-2);
}

button:active{
    filter: brightness(50%);
}

.unselectable{
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.scroll{
    overflow-y: scroll;
    scrollbar-color: var(--theme-color-1) var(--theme-color-5);
    scrollbar-width: thin;
}

.scroll::-webkit-scrollbar-thumb{
    background-color: var(--theme-color-1);
    background-clip: content-box;
}

.scroll::-webkit-scrollbar{
    background-color: var(--theme-color-5);
    width: 7px;
}

.no_scroll{
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.no_scroll::-webkit-scrollbar{
    display: none;
}
