*{
    transition: filter 0.3s, color 0.3s, background-color 0.3s, opacity 1s;
}

:root{
    --theme-color-1: #e30013;
    --theme-color-2: #8f070e;
    --theme-color-3: #7e8a91;
    --theme-color-4: #FFFFFF;
    --theme-color-5: #CCCCCC;
    --text-color-1: #000000;
    --text-color-2: #FFFFFF;
}

/* dark theme */
@media (prefers-color-scheme: dark) {
    :root{
        --theme-color-1: #e30013;
        --theme-color-2: #8f070e;
        --theme-color-3: #7e8a91;
        --theme-color-4: #222222;
        --theme-color-5: #111111;
        --text-color-1: #ffffff;
        --text-color-2: #000000;
    }
}

body{
    background-color: var(--theme-color-3);
    color: var(--text-color-1);
}

header{
    background-color: var(--theme-color-1);
}

a{
    color: var(--text-color-1);
    text-decoration: none;
}

nav{
    background-color: var(--theme-color-2);
}

nav>a{
    padding: 2.5px 2.5px 2.5px 10px;
    background-color: var(--theme-color-5);
}

nav>a:hover{
    background-color: var(--theme-color-2);
}

main{
    background-color: var(--theme-color-3);
}

footer{
    background-color: var(--theme-color-1);
}
