:root{
    --background-color: #eeeeee;
    --theme-color-1: #e30013;
    --theme-color-2: #8f070e;
    --theme-color-3: #7e8a91;
    --theme-color-4: #b3b3b3;
    --theme-color-5: #757575;
    --text-color-1: #000000;
    --text-color-2: #5d6972;
}

/* dark theme */
@media (prefers-color-scheme: dark) {
    :root{
        --background-color: #333333;
        --theme-color-1: #e30013;
        --theme-color-2: #8f070e;
        --theme-color-3: #7e8a91;
        --theme-color-4: #222222;
        --theme-color-5: #111111;
        --text-color-1: #ffffff;
        --text-color-2: #7e8a91;
    }
}

body{
    background-color: var(--background-color);
    color: var(--text-color-1);
}

header{
    background-color: var(--theme-color-1);
}

a{
    color: var(--text-color-1);
    text-decoration: none;
}

nav{
    background-color: var(--theme-color-2);
}

main{
    background-color: var(--background-color);
}

footer{
    background-color: var(--theme-color-1);
}

.scroll{
    overflow-y: scroll;
    scrollbar-color: var(--theme-color-1) var(--theme-color-5);
    scrollbar-width: thin;
}

.scroll::-webkit-scrollbar-thumb{
    background-color: var(--theme-color-1);
    background-clip: content-box;
}

.scroll::-webkit-scrollbar{
    background-color: var(--theme-color-5);
    width: 7px;
}